.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    @supports((-webkit-backdrop-filter: blur(10px)) or( backdrop-filter: blur(10px))) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .2);
    }
    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .15);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        // opacity: 0;
        // visibility: hidden;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s;
        @include respond(mobile) {
            width: 85%;
            padding: 2rem;
            display: inline-block;
        }
    }
    &__left {
        width: 33.33333%;
        display: table-cell;
        @include respond(mobile) {
            display: inline-block;
            width: 100%;
            height: 40%;
        }
    }
    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        @include respond(mobile) {
            width: 100%;
            display: inline-block;
            height: 40%;
        }
    }
    &__img {
        display: block;
        width: 100%;
        @include respond(mobile) {
            display: inline-block;
            width: 50%;
            float: left;
        }
    }
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        hyphens: auto;
        @include respond(mobile) {
            column-count: 1;
            column-gap: 0;
        }
    }
    &:target {
        opacity: 1;
        visibility: visible
    }
    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
    }
    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            font-size: 3rem;
            text-decoration: none;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            transition: all .2s;
            line-height: 1;
        }
        &:hover {
            color: $color-primary;
        }
    }
}